<div class="container-navbar">
    <!-- <div style="z-index: 10000; position: absolute; top: 51px; left: 85%; right: 2%;"> -->
    <p-toast></p-toast>
    <!-- <p-messages></p-messages> -->
    <!-- </div> -->
    <div style="z-index: 10000; position: absolute; top: 25px; left: 30%; right: 30%;">
        <p-messages [enableService]="false" [closable]="true" [(value)]="handler.messageInline"></p-messages>
    </div>
    <p-toolbar [style]="{borderRadius:'1px', padding: '5px'}">
        <div class="p-toolbar-group-left">
            <div style="width: 20px;"></div>
            <i class="icon-navigation {{handler.share.navigationIcon}}"></i>
            <label class="label-navigation">{{handler.share.navigation}} </label>
            <div class="separator"></div>

            <!-- <div class="separator"></div> -->
            <label class="labels-right">{{message}}</label>
            <i *ngIf="displayIconFilter" class="icons-right  fad fa-filter"></i>

            <label class="label-title"> {{title}}</label>
            <p-dropdown *ngIf="listValues != null && listValues.length > 0" name="executionType" [options]="listValues"
                [placeholder]="selectValueText" appendTo="body" optionLabel="name" [filter]="true" [autofocus]="true"
                (onChange)="onChangeSelectedValue($event)" [style]="{border: '1px solid #e4e9f2'}">
            </p-dropdown>
        </div>
        <div class="p-toolbar-group-right">
            <i *ngIf="handler.showSpinner" class="pi pi-spin pi-spinner"
            style="font-size: 1.5rem; color: whitesmoke; padding-right: 10px;"></i>
            <div style="width: 20px;"></div>
            <img src="assets/logosys.png" style="padding-right: 10px;" width="100rem">
            <!-- <label class="labels-right">{{appName}}</label> -->
        </div>
    </p-toolbar>
</div>