<p-table #tbl styleClass="p-datatable-sm" [scrollHeight]="scrollHeight" [value]="notifications" [scrollable]="true">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 50%">{{label('lbl_notificacoes')}}</th>
            <th style="width: 15%">{{label('lbl_data')}}</th>
            <th style="width: 15%">{{label('lbl_usuario')}}</th>
            <th style="width: 20%">{{label('lbl_setor')}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-notify>
        <tr>
            <td class="grid-col-string" style="width: 50%">{{notify.message}}</td>
            <td class="grid-col-string" style="width: 15%">{{notify.dateTimeNotify | date:'dd/MM/yy HH:mm:ss'}}</td>
            <td class="grid-col-string" style="width: 15%">{{notify.userName}}</td>
            <td class="grid-col-string" style="width: 20%">{{notify.sectorName}}</td>
        </tr>
    </ng-template>
</p-table>