$c-component-input-background-color: #F6F9FC;
$c-component-background-color: #DFE7EF;
$c-text-color: #043D75;

///////STYLES CROPLIFE///////////////////
//$c-back-image-login: './../../../assets/login_back_croplife.jpg';
//$c-primary-color: #006A2D; 
//$c-inverse-primary-color: #004A95; 

///////STYLES SYSMONKEY///////////////////
$c-back-image-login: './../../../assets/login_back_sysmonkey.jpg';
$c-primary-color: #010429;
$c-inverse-primary-color: #006A2D;


//Bkp
//$c-primary-color: #1c509b; //Other Blue